<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fe154807-14f9-45c3-a7d4-bdd904d34933/resourceGroups/Idea-Financial/providers/Microsoft.Web/sites/idea-financial-server</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://idea-financial-server.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>idea-financial-server.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>idea-financial-server</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$idea-financial-server</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>